.contacts-list {
    display: flex;
    justify-content: space-around;
    width: 280px;
    list-style-type: none;
    padding-left: 0;

    & li {
        background-image: url("../img/comb.svg");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 35px;
        display: block;
        width: 45px;
        height: 45px;
        position: relative;

        &:hover {
            background-image: url("../img/comb-active.svg");
        }
    }
}
.contacts-list__link {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 9px;
    left: 6px;
}
.contacts-list__link--fb {
    & svg {
        width: 22px;
        height: 22px;
        fill: $white;
    }
}

.contacts-list__link--gh {
    & svg {
        width: 22px;
        height: 22px;
        fill: $white;
    }
}

.contacts-list__link--yt {
    & svg {
        width: 24px;
        height: 24px;
        fill: $white;
    }
}

.contacts-list__link--ig {
    & svg {
        width: 22px;
        height: 22px;
        fill: $white;
    }
}
.contacts-list__link--bmc {
    & svg {
        width: 22px;
        height: 22px;
        fill: $white;
    }
}
.contacts-list__link--blog {
    & svg {
        width: 22px;
        height: 22px;
        fill: $white;
    }
}