.contacts-list {
    display: flex;
    justify-content: space-around;
    width: 280px;
    list-style-type: none;
    padding-left: 0;

    & li {
        background-image: url("../img/arrow.svg");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 35px;
        display: block;
        width: 45px;
        height: 45px;
    }
}
