.enrol-button {
    display: block;
    width: 280px;
    max-width: 400px;
    background-color: $button-color;
    transition-duration: 0.5s;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    @include buttons;

    &:hover {
        background-color: $hover;
    }
    &:active {
        background-color: $active;
    }
}