.menu-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-row: 2/3;
    @include menu-links;

    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: right;
    }
    
    & a {
        text-decoration: none;
        display: block;
        padding: 10px;
        color: $black;

        @media (min-width: $desktop-width) {
            border-radius: 5px;
        }       
    }
}

.menu-list__item {
    border-bottom: 1px solid $grey;
    padding: 0;
    margin: 0;
    text-align: center;

    &:nth-of-type(1) {
        border-top: 1px solid $grey;
        @media (min-width: $desktop-width) {
            border: none;
        }
    }

    @media (min-width: $desktop-width) {
        border: none;
    }
}


.menu-list__item a:hover {
    background-color: $button-color;
    color: $white;
}
.menu-list__item a.active {
    color: $white;
    background-color: $button-color;
    
}