.menu-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: right;
    }
    
    & a {
        text-decoration: none;
        display: block;
        padding: 10px;
    }
}

.menu-list__item {
    border-bottom: 1px solid $grey;
    padding: 10px 0;
    margin: 0;
    text-align: center;

    &:nth-of-type(1) {
        border-top: 1px solid $grey;
    }
}


.menu-list__item a:hover {
    background-color: #ffca18;
}
.menu-list__item a.active {
    color: red;
    background-color: #ffca18;
    
}