.page__body {
    min-width: $min-mobile-width;
    max-width: $max-desktop-width;
    margin: 0 auto;
    background-color: $white;
    box-shadow: 4px 0px 10px 0px $grey, -4px 0px 10px 0px $grey;
  }