.up-button {
  display: none;
  position: fixed;
  width: 45px;
  bottom: 25px;
  height: 50px;
  right: 20px;
  background-color: transparent;
  background-image: url("../img/comb.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  color: $white;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    width: 55px;
    height: 65px;
    font-size: 38px;
  }
}

.shown {
  display: inline-block;
}