@font-face {
    font-family: "Roboto Bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Roboto"),
      url("../fonts/Roboto-Bold.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Roboto Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Roboto"),
      url("../fonts/Roboto-Regular.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("Roboto"),
      url("../fonts/Roboto-Medium.ttf") format("ttf");
  }