@mixin plain-text {
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
@mixin heading-1 {
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: $black;
}
@mixin heading-2 {
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $black;
}
@mixin heading-3 {
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $black;
}
@mixin menu-links {
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    color: $black;
}
@mixin menu-desktop {
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: $black;
}
@mixin buttons {
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $white;
    text-transform: uppercase;
}