$black: #000000;
$white: #FFFFFF;
$transparent-white: rgba(255, 255, 255, 0.5);
$grey: rgba(211, 211, 211, 0.3);
$dark-grey: #c4c4c4;
$button-color: #F19202;
$timetable-color: #8C9EFA;
$desktop-width: 768px;
$max-mobile-width: 767px;
$min-mobile-width: 320px;
$max-desktop-width: 1024px;