$black: #000000;
$white: #FFFFFF;
$transparent-white: rgba(255, 255, 255, 0.5);
$grey: #C4C4C4;
$button-color: #F19202;
$timetable-color: #8C9EFA;
$desktop-width: 768px;
$max-mobile-width: 767px;
$min-mobile-width: 320px;